<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Fluxo com Condicionais</title>
</head>
<body>
    <h1>Olá, {{ usuario.nome }}</h1>
    <p>Idade: {{ usuario.idade }}</p>
    <p>Cidade: {{ usuario.cidade }}</p>

    {% if usuario.premium %}
        <p>Bem-Vindo, usuário Premium!</p>
    {% else %}
        <p>Bem-Vindo, usuário Regular.</p>
    {% endif %}

    {% if usuario.idade < 18 %}
        <p>Você é maior de Idade!</p>
    {% elif usuario.idade < 65 %}
        <p>Aproveite todos os nossos recursos disponíveis.</p>
    {% else %}
        <p>Obrigado por ser um usuário fiel! Aproveite as nossas promoções</p>
</body>
</html>