<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista do dicionario</title>
</head>
<body>
    <h1>Lista de usuário</h1>
    <th></th>
    <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario in nome }}</td>            
                <td>{{ usuario in idade }}</td>            
                <td>{{ usuario in cidade }}</td>            
            </tr>
    </tbody>
</body>
</html>