<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de dicionario</title>
</head>
<body>
    <h1>Lista de usuário</h1>
    <table>
        <thead>
            <tr>
                <th>nome</th>
                <th>idade</th>
                <th>cidade</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{  usuario.nome  }}</td>            
                <td>{{  usuario.idade  }}</td>            
                <td>{{  usuario.cidade  }}</td>            
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>